/* 導覽列 */
.navbar{
    overflow: hidden; /*為了讓他在網頁最上面*/
    background-color: rgb(255, 110, 38);
    font-family: Arial;
}

/* navbar跟超連結的a */
.navbar a{
    float: left;  /*排在左邊*/
    font-size: 32px;
    color: white;
    text-align: center;
    padding: 16px 32px;  /*從中間往上下16px 左右32px*/
    text-decoration: none;  /*阿災*/
}

/*下拉式選單*/
.dropdown{
    float: left;
    overflow: hidden;
}

/*下拉式選單跟link的按鈕*/
.dropdown .dropbtn{
    font-size: 32px;
    border: none;
    outline: none;
    color: white;
    padding: 16px 32px;
    background-color: inherit; /*沿用父元素*/
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn{
    background-color: red;
}

/*下拉式選單的內容*/
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a{
    float: none;
    color: black;
    padding: 16px 32px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover{
    background-color: #ddd;
}

/*下拉式選單的框框*/
.dropdown:hover .dropdown-content{
    display: block;
}