<!DOCTYPE html>
<html>
    <head>
        <title>112303590_黃傑瑞_hw5_1_猜數字遊戲</title>
    </head>
    <body>
         <h1>猜數字遊戲</h1>
         <h3>輸入一個介於0跟100之間的數字</h3>

         <form onsubmit="checkGuess(event)">
            <input type="number" id="input_1" min="0" max="100" required>
            <button type="submit">猜</button>
        </form>

        <!-- 顯示提示 -->
        <p id="hint"></p>

        <!-- 計時顯示 -->
        <p>時間：<span id="timer">0.00</span> s</p>

        <!-- 紀錄 -->
        <h3>答題紀錄</h3>
        <ol id="records"></ol>

        <script src="../static/112303590_js_1.js"></script>
    </body>
</html>