<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>112303590_黃傑瑞_hw5_2_購物車</title>
    <link rel="stylesheet" href="../static/11230359_js_2.css">
</head>
<body>
    <h1>購物車</h1>
    <table border="1" width="1000px">
        <tr>
            <th>
                <label style="cursor:pointer;">
                    <input type="checkbox" id="check-all"> 全選
                </label>
            </th>
            <th>商品名稱</th>
            <th>商品圖片</th>
            <th>庫存</th>
            <th>單價</th>
            <th>數量</th>
            <th>總計</th>
        </tr>
        <tr>
            <td><input type="checkbox" name="checkbox_1" id="checkbox_1"></td>
            <td><h4>iPhone 17 Pro Max 2TB 宇宙橙色</h4></td>
            <td><img src="../static/img/iphone_17_pro_max.jpg" alt="" width="100px"></td>
            <td><h4>8</h4></td>
            <td class="price" data-price="72900"><h4>$72,900</h4></td>
            <td>
                <div class="quantity">
                <button class="btn-minus">−</button>
                <input type="text" class="qty-input" value="1">
                <button class="btn-plus">＋</button>
                </div>
            </td>
            <td class="subtotal"><h4>$72,900</h4></td>
        </tr>
        </tr>
    </table>



    <script src="../static/112303590_js_2.js"></script>
</body>
</html>